.test{
    color:red;
}

.sectionContainer{
    background: #f2f2f2;
    min-height: 75vmin;
    width: 100vw;
}

div.addLabel{
    display:none;
   }
   .item:hover div.align{
    display:none;
   }
   .item:hover div.addLabel{
    display:block;
   }