.greyImageOverlay{
    background: linear-gradient(
                     rgba(80, 199, 199, .5), 
                     rgba(80, 199, 199, .5)),
                     url(https://res.cloudinary.com/ddsihrmda/image/upload/v1563080797/nature_edit_szwgdl.png);
    min-height: 100vmin;
    width: 100vw;                
}