.greyImageOverlay{
    background: linear-gradient(
                     rgba(0, 0, 0, 0.2), 
                     rgba(0, 0, 0, 0.2)),
                     url(https://res.cloudinary.com/ddsihrmda/image/upload/v1563080797/nature_edit_szwgdl.png);
    min-height: 100vmin;
    width: 100vw;             
}

.test {
    padding: '150px';
}

.example {
    background-color: #FF851B;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100px;
    
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  
  .exampleRow {
    display: flex;
    flex-shrink: 0;
    
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  
  .exampleRows {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }