.greyImageOverlay{
    background: linear-gradient(
                     rgba(0, 0, 0, 0.2), 
                     rgba(0, 0, 0, 0.2)),
                     url(https://res.cloudinary.com/ddsihrmda/image/upload/v1563080797/nature_edit_szwgdl.png);
    min-height: 100vmin;
    width: 100vw;             
}

.mainTextDiv{
    font-size: 3em;
    color: #fff;
    padding-top: 15vh;
    padding-left: 20vw;
    padding-right: 20vw;

}